[submodule "Foundry Fundamentals/foundry-fund-me/lib/forge-std"]
	path = Foundry Fundamentals/foundry-fund-me/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "Foundry Fundamentals/foundry-fund-me/lib/chainlink-brownie-contracts"]
	path = Foundry Fundamentals/foundry-fund-me/lib/chainlink-brownie-contracts
	url = https://github.com/smartcontractkit/chainlink-brownie-contracts
[submodule "Foundry Fundamentals/foundry-fund-me/lib/foundry-devops"]
	path = Foundry Fundamentals/foundry-fund-me/lib/foundry-devops
	url = https://github.com/cyfrin/foundry-devops
[submodule "Foundry Fundamentals/foundry-smart-contract-lottery/lib/chainlink-brownie-contracts"]
	path = Foundry Fundamentals/foundry-smart-contract-lottery/lib/chainlink-brownie-contracts
	url = https://github.com/smartcontractkit/chainlink-brownie-contracts
[submodule "Foundry Fundamentals/foundry-smart-contract-lottery/lib/forge-std"]
	path = Foundry Fundamentals/foundry-smart-contract-lottery/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "Foundry Fundamentals/foundry-smart-contract-lottery/lib/solmate"]
	path = Foundry Fundamentals/foundry-smart-contract-lottery/lib/solmate
	url = https://github.com/transmissions11/solmate
[submodule "Foundry Fundamentals/foundry-smart-contract-lottery/lib/foundry-devops"]
	path = Foundry Fundamentals/foundry-smart-contract-lottery/lib/foundry-devops
	url = https://github.com/cyfrin/foundry-devops
[submodule "Advanced Foundry/erc-20/lib/forge-std"]
	path = Advanced Foundry/erc-20/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "Advanced Foundry/erc-20/lib/openzeppelin-contracts"]
	path = Advanced Foundry/erc-20/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "Advanced Foundry/nft/lib/forge-std"]
	path = Advanced Foundry/nft/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "Advanced Foundry/nft/lib/openzeppelin-contracts"]
	path = Advanced Foundry/nft/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "Advanced Foundry/nft/lib/foundry-devops"]
	path = Advanced Foundry/nft/lib/foundry-devops
	url = https://github.com/Cyfrin/foundry-devops
[submodule "Advanced Foundry/defi/lib/forge-std"]
	path = Advanced Foundry/defi/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "Advanced Foundry/defi/lib/openzeppelin-contracts"]
	path = Advanced Foundry/defi/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "Advanced Foundry/defi/lib/chainlink-brownie-contracts"]
	path = Advanced Foundry/defi/lib/chainlink-brownie-contracts
	url = https://github.com/smartcontractkit/chainlink-brownie-contracts
[submodule "Advanced Foundry/ccip-rebase-token/lib/forge-std"]
	path = Advanced Foundry/ccip-rebase-token/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "Advanced Foundry/ccip-rebase-token/lib/openzeppelin-contracts"]
	path = Advanced Foundry/ccip-rebase-token/lib/openzeppelin-contracts
	url = https://github.com/openzeppelin/openzeppelin-contracts
[submodule "Advanced Foundry/ccip-rebase-token/lib/ccip"]
	path = Advanced Foundry/ccip-rebase-token/lib/ccip
	url = https://github.com/smartcontractkit/ccip
[submodule "Advanced Foundry/ccip-rebase-token/lib/chainlink-local"]
	path = Advanced Foundry/ccip-rebase-token/lib/chainlink-local
	url = https://github.com/smartcontractkit/chainlink-local
[submodule "Advanced Foundry/merkle-airdrop/lib/forge-std"]
	path = Advanced Foundry/merkle-airdrop/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "Advanced Foundry/merkle-airdrop/lib/openzeppelin-contracts"]
	path = Advanced Foundry/merkle-airdrop/lib/openzeppelin-contracts
	url = https://github.com/openzeppelin/openzeppelin-contracts
